.service-page{
  width: 100%;
}

.service-page .service-wrapper{
  position: relative;
  width: 100%;
}

.service-page .service-wrapper h1{
  text-align: center;
  color: #271438;
  font-size: 3rem;
  padding: 20px 0;
}

.service-wrapper .product-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(234px, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.product-wrapper .card-wrapper{
  position: relative;
  height: 280px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid #271438;
  overflow: hidden;
}

.card-wrapper .card{
  width: 100%;
  height: 100%;
}

.card-wrapper .card img{
  width: 100%;
  height: 100%;
  border: none;
  transition: .2s ease-in-out;
}

.card-wrapper .card:hover img{
  transform: scale(1.15);
}

.card-wrapper .card .card-gradient-layer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-gradient-layer p{
  position: absolute;
  top: 25px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
}

.card-gradient-layer .star-rating{
  position: absolute;
  bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 5px 0;
}

.star-rating i{
  color: #ffd700;
}

.star-rating b{
  display: inline;
  width: 40px;
  color: #fff;
  background: #808080b2;
  text-align: center;
  border-radius: 20px;
}

.card-gradient-layer span{
  position: absolute;
  bottom: 80px;
  color: #fff;
  font-size: 1.2rem;
}

.card-gradient-layer button{
  position: absolute;
  bottom: 20px;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 4%;
  padding: 1rem 3rem;
  background: #271438a4;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in-out;
}

.card-gradient-layer button:hover{
  letter-spacing: 0.8px;
}

.card-gradient-layer a{
  position: absolute;
  top: 5px;
  right: 5px;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
  color: #271438bd;
  letter-spacing: -1.2px;
}

/* MEDIA QUERY */

@media screen and (max-width: 815px) {
  .service-wrapper .product-wrapper{display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .card-gradient-layer button{
    padding: 1rem 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  .service-page .service-wrapper h1{
    font-size: 1.5rem;
  }

  .product-wrapper .card-wrapper{
    height: 230px;
  }

  .card-wrapper .card img{
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 462px) {
  .service-wrapper .product-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  }
}

@media screen and (max-width: 439px) {
  .service-wrapper .product-wrapper{
    padding: 0 50px;
  }
}

@media screen and (max-width: 400px) {
  .service-wrapper .product-wrapper{
    padding: 0 25px;
  }
}