.service-page{
  width: 100%;
}

.service-page .service-wrapper{
  position: relative;
  width: 100%;
}

.service-page .service-wrapper h1{
  text-align: center;
  color: #271438;
  font-size: 3rem;
  padding: 20px 0;
}

.service-wrapper .product-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(234px, 1fr));
  column-gap: 1rem;
  row-gap: 2rem;
  justify-content: center;
  align-items: start;
  padding: 0 110px;
  list-style: none;
}

.product-wrapper .card-wrapper{
  position: relative;
  min-height: 400px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1.5px solid #E3E3E6;
  box-shadow:  0 8px 16px #8c99a750;
}

.card-wrapper .card{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-wrapper .card img{
  width: 100%;
  border: none;
  transition: .2s ease-in-out;
}

.card-wrapper .card:hover img{
  transform: scale(1.04);
}

.card-wrapper .card p:nth-child(2){
  color: #271438c0;
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 5px 0;
}

.card-wrapper .card p:nth-child(3){
  color: #0000004b;
}

.card-wrapper .card .star-rating{
  padding: 3px 0;
}

.star-rating i{
  color: #ffd700;
}

.star-rating b{
  display: inline-block;
  width: 35px;
  color: #fff;
  background: #80808073;
  text-align: center;
  border-radius: 20px;
}

.card-wrapper .card .price{
  text-align: center;
  padding-bottom: 3px;
  color: #271438c0;
  font-size: 1.5rem;
  font-weight: bolder;
}

.card-wrapper .card button{
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: bolder;
  color: #BFBFBF;
  transition: 0.3s ease-in-out;
}

.card-wrapper .card button:hover{
  letter-spacing: 1px;
}

.card-wrapper .card a{
  position: absolute;
  right: 10px;
  top: 10px;
  text-decoration: none;
  letter-spacing: -1.4px;
  font-weight: 600;
  color: #2714383b;
}

.card-wrapper .card .sales-tag{
  position: absolute;
  display: inline;
  top: 10px;
  left: 10px;
  padding: 4px 10px;
  background: rgba(255, 99, 71, 0.788);
  border-radius: 5px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.sales-tag i{
  transform: rotate(90deg);
  font-size: 1.3rem;
}

.sales-tag span{
  font-size: 1.2rem;
}


/* MEDIA QUERY */

@media screen and (max-width: 550px) {
  .service-page .service-wrapper h1{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .service-wrapper .product-wrapper{
    padding: 0 50px;
  }
}

@media screen and (max-width: 400px) {
  .service-wrapper .product-wrapper{
    padding: 0 30px;
  }
}

/* Props Styles for Hero Banner */
.service-banner .left div{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  padding: 30px 0;

}

.service-banner .left div h4{
  color: #fff;
  font-weight: bolder;
  font-size: 1.1rem;
  padding: 10px 0;
}

.service-banner .left div h4 i{
  color: #fff;
  font-size: 1.6rem;
}