.cart-wrapper{
  position: relative;
  width: 100%;
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  padding-bottom: 40px;
}

.cart-wrapper h1{
  text-align: center;
  color: #271438;
  font-size: 3rem;
  padding: 20px 0;
}

.cart-wrapper .cart-item{
  width: 60%;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  border: 2px solid #271438;
  justify-content: center;
  align-items: center;
}

.cart-item .cart-left{
  width: 22.5%;
  height: 100%;
}

.cart-item .cart-right{
  width: 77.5%;
  height: 100%;
}

.cart-left img{
  width: 100%;
  height: 100%;
}

.cart-right{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 2px solid #271438;
  padding: 5px 20px;
  background: #271438;
}

.cart-right p{
  color: #fff;
  padding: 5px 0;
  font-weight: bold;
  font-size: 1.2rem;
}

.cart-right p b{
  color: #fff;
  font-size: 1rem;
}

.cart-right .inc-dec{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.cart-right .inc-dec button{
  font-size: 1.6rem;
  padding: 0 10px;
  color: #fff;
  background: #271438;
  border: none;
}

.cart-right .inc-dec input{
  font-size: 1rem;
  width: 40px;
  height: 40px;
  text-align: center;
  border: none;
}

.delete-btn button{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background: #271438;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.base-content p{
  font-size: 1.5rem;
  padding: 15px 0;
  color: #27143873;
}

.base-content p b{
  color: #271438;
}

.empty-cart h1{
 color: #2714385b;
}

.base-btn button,
.empty-cart button{
  padding: 10px;
  color: #fff;
  background: #271438;
  border: none;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
}

.base-btn{
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
}




/* MEDIA QUERY */

@media screen and (max-width: 740px){
  .cart-wrapper{
    margin-top: 12%;
  }

  .cart-wrapper h1{
    font-size: 1.5rem;
  }

  .cart-wrapper .cart-item{
    flex-direction: column;
  }

  .cart-item .cart-left{
    width: 100px;
    height: 100px;
  }

  .cart-item .cart-right{
    width: 100%;
  }

  .delete-btn button{
    right: 0;
    top: 76.5%;
  }
}

@media screen and (max-width: 640px){
  .cart-wrapper{
    margin-top: 14%;
  }
}

@media screen and (max-width: 540px){
  .cart-wrapper{
    margin-top: 16%;
  }
}

@media screen and (max-width: 500px){
  .cart-wrapper{
    margin-top: 18%;
  }

  .cart-wrapper h1{
    font-size: 1.5rem;
  }

  .cart-right p{
    font-size: 1rem;
  }
}

@media screen and (max-width: 440px){
  .cart-wrapper{
    margin-top: 20%;
  }

  .base-btn button,
  .empty-cart button{
    font-size: 1rem;
  }

  .cart-wrapper .cart-item{
    width: 75%;
  }
}