.cart-wrapper {
  position: relative;
  width: 100%;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.cart-wrapper h1 {
  text-align: center;
  color: #271438;
  font-size: 3rem;
  padding: 20px 0;
}

.cart-wrapper .cart-content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.cart-content .table-header{
  width: 100%;
  max-width: 1000px;
  display: flex;
}

.table-header .title-content,
.table-header .quantity-price-content{
  width: 50%;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #fff;
}

.title-content p,
.quantity-price-content p{
  color: #66666685;
  font-size: 1.3rem;
  font-weight: 600;
}

.cart-content .cart-item {
  display: flex;
  width: 100%;
  max-width: 1000px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.cart-item .cart-left,
.cart-item .cart-right {
  width: 50%;
  padding: 15px;
}

.cart-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-right: 1px solid #ddd;
}

.cart-left img {
  width: 120px;
  height: auto;
  border-radius: 6px;
  margin-right: 20px;
}

.cart-left .product-details p b{
  color: #271438;
  font-size: 1.5rem;
}

.cart-left .product-details p:nth-child(2){
  color: #666;
}

.cart-right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-right .quant-price b:nth-child(1){
  margin-left: 35px;
}

.cart-right .quantity-price-content{
  display: none;
}

.cart-right .quant-price{
  display: flex;
  justify-content: space-between;
}

.cart-right .increase-decrease{
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 15px;
}

.cart-right .increase-decrease button{
  width: 30px;
  height: 30px;
  background: #ddd;
  color: #271438;
  border: 0;
  font-size: 1.5rem;
  font-weight: bolder;
}

.cart-right .increase-decrease input{
  width: 35px;
  height: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  outline: none;
}

.cart-right .delete-btn{
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.delete-btn button{
  padding: 6px;
  font-size: 1.2rem;
  color: #ff4a3c;
}

.base-wrapper{
  width: 100%;
}

.base-wrapper form{
  width: 100%;
  padding: 0 60px;
}

.base-wrapper form input{
  width: 18px;
  height: 18px;
  accent-color: #271438;
}

.base-wrapper form{
  font-size: 1.08rem;
}

.base-wrapper .base-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.base-content p{
  font-size: 1.5rem;
  padding: 15px 0;
  color: #27143873;
}

.base-content p b{
  color: #271438;
}

.empty-cart h1{
 color: #2714385b;
}

.base-btn button,
.empty-cart button{
  padding: 10px;
  color: #fff;
  background: #271438;
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
}

.base-btn{
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
}




/* MEDIA QUERY */
@media screen and (max-width: 740px){
  .cart-wrapper{
    margin-top: 6%;
  }
}

@media screen and (max-width: 550px) {
  .cart-wrapper{
    margin-top: 8%;
  }

  .cart-wrapper h1 {
    text-align: center;
    font-size: 1.5rem;
  }

  .cart-content .cart-item {
    flex-direction: column;
  }

  .cart-item .cart-left,
  .cart-item .cart-right {
    width: 100%;
  }

  .cart-item .cart-left{
    border-right: none;
  }

  .cart-content .table-header{
    display: none;
  }

  .cart-right .quantity-price-content{
    display: none;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 10px 5px;
  }

  .cart-right .quant-price b{
    padding: 10px 0;
  }

  .cart-right .quant-price b:nth-child(1){
    margin-left: 50px;
  }

  .cart-right .quant-price b:nth-child(2){
    margin-right: 10px;
  }
}

@media screen and (max-width: 440px){
  .cart-wrapper{
    margin-top: 10%;
  }

  .base-wrapper form{
    padding: 0 10px;
  }
}
