.footer-section{
  position: absolute;
  left: 50%;
  width: 100%;
  margin: 0 auto;
  padding: 5% 5% 1%;
  color: #fff;
  transform: translate(-50%, 50%);
  background: #271438;
}
.top-section{
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top-section p{
  font-weight: 600;
  border: none;
}

.top-section a i{
  color: #b4abab;
  font-size: 2rem;
  margin-left: 1rem;
}

.top-section a i:hover{
  color: #fff;
}

.bottom-section{
  padding-top: 2rem;
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom-section div{
  display: flex;
  flex-direction: column;
}

.bottom-section h2{
  font-size: 1.3rem;
  padding: 1rem 0 .8rem 0;
}

.bottom-section a{
  color: #fff;
  text-decoration: none;
  padding: 5% 0;
}

.bottom-section a:hover{
  text-decoration: underline;
}

.footer-section .copyright{
  width: 100%;
  margin-top: 30px;
  padding: 20px 0;
  text-align: center;
  display: inline-block;
  border-top: 1px solid #f5f5f5;
}

@media screen and (max-width:850px) {
  .bottom-section div{
    margin-bottom: 15px;
  }
}

