.gallery{
  margin-top: 1%;
  padding-bottom: 2%;
}

.gallery h1{
  text-align: center;
  margin: 1% 0 -1%;
  color: #271438;
  font-size: 3rem;
}

.gallery p{
  margin: 1% 0 4%;
  text-align: center;
  color: #271438;
  font-size: 1rem;
}

.gallery-box{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(239px, 1fr));
  gap: 1.5rem;
  padding: 10px 40px 40px;
}

.gallery-box .card{
  position: relative;
  cursor: pointer;
  height: 230px;
  border-radius: 8px;
  transition: .3s ease-in-out;
}

.reserve{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  transition: .3s ease-in-out;
}

.gallery-box .card:hover{
  transform: translateY(-1rem);
}

.gallery .card img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.gallery-box .card p{
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 20%;
  transform: translate(-50%, 0);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.gradient{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  border-radius: 8px;
}


/* MEDIA QUERY */

@media screen and (max-width: 550px) {
  .gallery h1{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 650px) {
  .gallery-box .card{
    height: 210px;
  }
}

@media screen and (max-width: 581px) {
  .gallery-box{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 503px) {
  .gallery-box{
    padding: 0 60px;
  }
}

@media screen and (max-width: 400px) {
  .gallery-box{
    padding: 0 30px;
  }
}
