.navbar{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 4%;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
  border-radius: 5px;
  z-index: 999;
  background: #fff;
}

.nav-logo{
  text-decoration: none;
  font-size: 1.5rem;
  color: #271438;
}

.nav-logo span{
  color: #b4abab;
}

.menu-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu{
  list-style: none;
  display: flex;
}

.menu li{
  margin-left: 10px;
  padding: 10px 0;
}

.nav-link{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #271438;
  padding: 10px 1.2rem;
  border-radius: 8px;
  white-space: nowrap;
}

.nav-link:hover{
  background: #271438;
  color: #fff;
}

.nav-link.active{
  background: #271438;
  color: #fff;
}

.menu-bar-plus-cart{
  display: flex;
  column-gap: 1rem;
  margin-left: 10px;
}

.menu-bar-plus-cart i{
  padding: 12px;
  font-size: 1.3rem;
}

.cart a{
  position: relative;
  text-decoration: none;
  color: #fff;
}

.cart a i{
  background: #2714388a;
  border-radius: 50%;
}

.cart a span{
  position: absolute;
  top: -100%;
  right: 0px;
  width: 25px;
  height: 25px;
  background: #ff000094;
  color: #fff;
  padding: 2px 5px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-menu{
  display: none;
}



/* MEDIA QUERY */
@media screen and (max-width: 965px) {
  .navbar{
    z-index: 99;
  }

  .menu-bar-plus-cart{
    gap: 0.2rem;
  }

  .cart a i{
    background: #2714388a;
    border-radius: 0;
  }

  .cart a span{
    width: 25px;
    height: 25px;
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 1rem;
  }

  .hamburger-menu{
    display: inline;
  }

  .hamburger-menu i{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background: #2714388a;
    cursor: pointer;
    color: #fff;
  }

  .menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 80px 5px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background: #fff;
    display: none;
    overflow: hidden;
    border-radius: 30px;
  }

  .menu li{
    margin: 0;
  }

  .menu.active{
    left: 0;
    display: block;
    z-index: -1;
  }

  .nav-link{
    display: block;
    width: 100%;
    padding: .8rem 1rem;
  }
}

@media screen and (max-width: 400px) {
  .navbar{
    margin-top: 0.8%;
  }

  .nav-logo{
    font-size: 1rem;
  }
}

