@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body{
  position: relative;
  background-color: #faf5f5;
  padding: 0 5%;
}

/* Styling for About Page Stars Here */
.about-content{
  margin: 1% auto -10%;
}

.about-content h1{
  color: #271438;
  text-align: center;
  font-size: 3rem;
}

.about-text h2{
  color: #271438;
  text-align: center;
  margin: 2% 0 1%;
}

.about-text p{
  font-size: 1.2rem;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .about-content{
    margin-bottom: -20%;
  }
}

@media screen and (max-width: 380px) {
  .about-content{
    margin-bottom: -60%;
  }
}

/* Styling for About Page Ends Here */

/* Styling for Contact Page Stars Here */
.contact-form{
  margin: 1% auto -10%;
  padding-bottom: 3rem;
}

.contact-form h1{
  color: #271438;
  text-align: center;
  font-size: 3rem;
}

.contact-form form{
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

form input{
  height: 3rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
  border-radius: .3rem;
  border: 1px solid #271438;
  font-size: 1.2rem;
}

form textarea{
  padding: 0 1rem;
  margin-bottom: 2rem;
  border-radius: .3rem;
  border: 1px solid #271438;
}

form button{
  position: relative;
  padding: .6rem 0;
  font-size: 1.1rem;
  border: 1px solid #271438;
  border-radius: 5px;
  overflow: hidden;
}

form button:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  outline: none;
  z-index: -1;
  transition: .3s ease-in-out;
}

form button:hover::after{
  width: 100%;
  background: #271438;
}

form button:hover{
  color: #fff;
  z-index: 2;
}

@media screen and (max-width: 850px) {
  .contact-form form{
    padding-top: 2rem;
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .contact-form{
    margin-bottom: -20%;
  }
}

@media screen and (max-width: 380px) {
  .contact-form{
    margin-bottom: -60%;
  }
}

/* Styling for Contact Page Ends Here */